<!DOCTYPE html>
<html lang="en">
<head>
<!--
@qiyi - 
-->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" href="/static/css/googlestorage.css" />
<style type="text/css">
    #cform {
        align:center;
        width:500px;
        margin :100px auto;
        padding:auto;
        text-align: center;
        background-color:#fff;
    }
    form.well{
        background-color:#fff;
        width:400px;
        text-align: left;
    }
    form.well div.control-group label{
        text-align: left;
    }
</style>
{% block head_css %}
{% endblock %}
{% block head_js %}
{% endblock %}
</head>
<body class="vbox">
{% block body_header %}

<!-- user tool -->
<div id="gaia-bar" class="noflex">
	<span>
	<a href="#" target="_blank" class="link"  style="display:none;">Send Feedback</a>
	</span>
	<span class="divider">|</span>
	<span class="user-name">{{form.uemail}}</span>
	<span class="divider">|</span>
    <span><a href="#" target="_blank" class="link">Help</a></span>
    {% if request.session.uu %}
	<span><a href="/showkey/" target="_blank" class="link">Show Key</a></span>
	<span class="divider">|</span><span><a class="link" href="/logout/">Sign out</a></span>
    {% endif %}
</div>
<!-- end -->
<!-- logo -->
<h1 id="logo" class="noflex"><a href="#"><img src="" style="display:none"><span>Qiyi Simple Storage</span></a></h1>
<!--end logo -->


{% endblock %}
<div class="container">
{% block body_content %}
{% endblock %}
</div>
{% block body_footer %}
{% endblock %}
{% block body_footer_js %}
{% endblock %}
</body>
</html>
