<tr class="bucket" cid="{{cid}}" id="{{cid}}">
    <td class="name">{{name}}</td>
    <td class="owner">{{owner}}</td>
    <td class="create_date">{{create_date}}</td>
    <td class="ACL" contenteditable="true">{{ACL}}</td>
    <td class="file_count">{{file_count}}</td>
    <td class="size_count">{{size_count}}</td>
    <td class="save" ><i class="icon-download"></i>save</td>
</tr>

