<tr class="user"  id="{{cid}}" cid="{{cid}}">
    <td class="id">{{id}}<td>
    <td class="">{{bkt_num}}<td>
    <td class="">{{file_num}}<td>
    <td class="email">{{login_email}}</td>
    <td class="email">{{use_space}}</td>
    <!--
    <td class="password" contenteditable="true">{{password}}</td>
    <td class="access_key" contenteditable="true">{{access_key}}</td>
    <td class="access_secret' contenteditable="true">{{access_secret}}</td>
    <td class="save" ><i class="icon-download"></i>save</td>
    -->
</tr>

